:root {
  --color-green: hsl(75, 94%, 57%);
  --color-white: hsl(0, 0%, 100%);

  --tertiary-grey: hsl(0, 0%, 20%);
  --secondary-grey: hsl(0, 0%, 12%);
  --primary-grey: hsl(0, 0%, 8%);


  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --border-radius-lg: 1.2rem
}