:root {
  /* Colors */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Red Hat Text", sans-serif;
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1;

  background-color: var(--rose-50);
  color: var(--rose-900);
}


.btn {
  background: none;
  border: 1px solid var(--red);
  border-radius: 4rem;

  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem 2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--red);
}

.icon {
  fill: var(--red);
  stroke: var(--red);
  width: 2rem;
  height: 2rem;
  cursor: inherit;
}

.icon--control {
  stroke: white;
  width: 1.2rem;
  border: 2px solid white;
  border-radius: 6rem;
  padding: 2px;
}

hr {
  border: 1px solid var(--rose-100);
  margin: 1.6rem 0;
}