.container {
  background-color: var(--white-color);
  padding: 2rem;
  width: 32rem;
  height: 48rem;
  border-radius: var(--border-radius-lg);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.2rem;
}

.card img {
  width: 100%;
  border-radius: var(--border-radius-lg);
}

.card--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  text-align: center;

  padding: 1.2rem;
}

.card h2 {
  font-size: 2rem;
  color: var(--primary-color);

}

.card p {
  font-size: 1.4rem;
  color: var(--secondary-color);
}

footer {
  width: 32rem;
}

.attribution {
  color: var(--primary-color);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}